<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Cotizar - Depilcenter</title>
  <link rel="icon" href="../img/icon_header_depilcenter.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />


  {{!-- css --}}
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/redesSociales.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/reserva.css">
  <link rel="stylesheet" href="../css/cotizar.css">
  <link rel="stylesheet" href="../css/novedades.css">
  <link rel="stylesheet" href="../css/overView.css">

  {{!-- datePicker --}}
  <script src="../libs/jquery.js"></script>
  <script src="../libs/datePicker/js/bootstrap-datepicker.js" charset="UTF-8"></script>
  <link rel="stylesheet" href="../libs/datePicker/css/bootstrap-datepicker.css">

  {{!-- google fonts - icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- semtantic ui --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {{!-- Animate.css --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>

  {{> overView }}

  <section class="container-master">

    {{> navbar }}

    {{!-- <section class="agendarCita animate__animated animate__fadeIn">
    </section> --}}

    <main class="container __cotizarContainer">

      <section class="imgCotizarContainer">
      </section>

      <section class="indicaciones-container-ipl">
        <div class="indc-color-box">
          <div class="indc-childs">
            {{#each servicio}}
            <b>• {{ title }}</b>

            <ol type="1">
              {{#each body }}
              {{#if short_desc}}
              <li>
                {{ short_desc }}
                {{#if verMas}}
                <a href="{{ verMas.href }}" target="_blank">Ver mas</a>
                {{/if}}
              </li>
              {{ else }}
              <li>{{ desc }}
                {{/if}}

              </li>
              {{/each }}
            </ol>

            <hr style="margin: 5px 0">
            {{/each}}
          </div>
        </div>
      </section>

      <section class="cajaOpciones">

        <div class="nameCotizar">
          <h1>Personaliza tu combo. 💃</h1>
          <p>Elige las zonas a depilar dependiendo el método o el genero. Mira también nuestras ultimas promociones .
          </p>
        </div>

        <div class="borraOpciones">

          <div>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link " id="nav-home-tab" data-bs-target="#nav-home" type="button" role="tab"
                  aria-controls="nav-home" href="/cotizar/depilacion-cera?genero=mujer">Depilacion con
                  cera</a>
                <a class="nav-link" id="nav-profile-tab" data-bs-target="#nav-profile" type="button" role="tab"
                  aria-controls="nav-profile" href="/cotizar/depilacion-definitiva?genero=mujer">Depilacion
                  definitiva</a>

              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

              <div class="tab-pane" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {{> cotizarDepilacionCera }}
              </div>

              <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                {{> cotizarDepilacionDefinitiva }}
              </div>


              <div class="ui accordion" id="otros_servicios">
                <div class="title">
                  <i class="dropdown icon"></i>
                  Otros servicios
                </div>
                <div class="content">
                  {{> otrosServicios }}
                </div>
              </div>

              <div class="ui accordion" id="indicaciones_responsive">
                <div class="title">
                  <i class="dropdown icon"></i>
                  INDICACIONES
                </div>
                <div class="content padding-cero">

                  <div class="indc-color-box">
                    <div class="indc-childs">
                      {{#each servicio}}
                      <b>• {{ title }}</b>

                      <ol type="1">
                        {{#each body }}
                        {{#if short_desc}}
                        <li>
                          {{ short_desc }}
                          {{#if verMas}}
                          <a href="{{ verMas.href }}" target="_blank">Ver mas</a>
                          {{/if}}
                        </li>
                        {{ else }}
                        <li>{{ desc }}
                          {{/if}}

                        </li>
                        {{/each }}
                      </ol>

                      <hr style="margin: 5px 0">
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>

              <div class=" boxValorTotal">
                <div class="boxBorder">
                  <p>VALOR PROMOCIONAL : $ <span id="valorTotalZonas">0</span>&nbsp&nbsp|&nbsp</p>
                  <p>VALOR NORMAL : $ <span id="valorNormalCotizar">0</span></p>
                </div>
                <div class="btn-button-reserve">
                  <button class="btn-cotizar-reserve">AGENDAR CITA</button>
                </div>
              </div>

            </div>

          </div>

        </div>
      </section>
    </main>

    <div class="mt-3 mb-3">
      {{> reservar }}
    </div>

    <section class="mt-3 mb-3">
      {{> novedades }}
    </section>

    {{> footer}}

  </section>

  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  {{!-- js --}}
  <script src="../js/datePicker.js" type="module"></script>
  <script src="../js/countDown.js"></script>
  <script src=" ../js/cotizar.js" type="module"></script>
  <script src="../js/borderBottonNav.js"></script>
  <script src="../js/calcularTamanoPantalla.js"></script>
  <script src="../js/overView.js"></script>

  {{!-- semantic ui --}}
  <script>
    $('.ui.accordion')
      .accordion()
      ;
  </script>

</body>

</html>