<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../img/icon_header_depilcenter.png">

  {{!-- SEO --}}
  <title>{{ indicacionesTitle servicios }}</title>
  <meta name="description" content="{{ indicacionesDesc servicios }}">
  <meta name="keywords" content="{{ indicacionesKeyWords servicios }}" />

  {{!-- bootstrap --}}
  <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />


  {{!-- css --}}
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/indicaciones.css" />
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/redesSociales.css">
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/overView.css">

  {{!-- jQuery --}}
  <script src="../libs/jquery.js"></script>

  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  {{!-- SEMANTIC UI --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body>

  {{> overView }}

  <section class="container-master">
    {{> navbar }}



    <section class="container container-servicios mb-5" style="position: relative; display: block;">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          {{#each servicios }}
          <div class="row p-lg-5 padding-xy rounded  margin-x" style="background-color: #fff;">
            <div class="col-12  p-0 px-3 title-seo">
              <h4>{{ mayuscula seo.title }}</h4>
              {{#if descuento}}
              <div class="descuento-note">
                <p>
                  {{ descuento.title }}
                </p>
              </div>
              {{/if}}
            </div>
            <div class="col-12 p-0 ">
              <div class="row m-0">
                <div class="col-lg-10 p-sm-0 p-md-5">
                  {{#each indicaciones}}
                  <div class="my-4">
                    {{#if title }}
                    <p class="title-body">
                      <b> &#187; {{title}} </b>
                    </p>
                    {{/if}}
                    <p>
                      {{#each body}}
                    <div class="texto-desc-body">
                      <ul>
                        <li>
                          {{{ desc }}}
                        </li>
                      </ul>
                    </div>
                    {{/each}}
                    </p>
                  </div>
                  {{/each}}
                </div>
                {{#if img}}
                <div class="col-lg-2 p-2">
                  <div class="row">
                    {{#each img}}
                    {{#if title }}
                    <div class="title-body-img">
                      <p> {{title}} </p>
                    </div>
                    {{/if}}
                    {{#each body }}
                    <div class="mb-4 col-4 col-lg-12  img-servicio"
                      style="box-shadow: var(--sombra); padding-right: 0 !important; padding-left: 0 !important">
                      <img class="" width="100%" src="{{ url }}" alt="{{ alt }}">
                    </div>
                    {{/each}}
                    {{/each }}
                  </div>
                </div>
                {{/if}}

              </div>
            </div>


            {{!-- #if nota
            <div class="col-12 p-4 mb-3 rounded note-card">
              #each nota

              <p>
                • <b> title : </b> content <br>
              </p>
              /each
            </div>
            /if --}}


            <div class="col-12">
              <a class="btn" style="border:2px solid var(--base); color: var(--base); box-shadow: var(--sombra)"
                href="{{url}}">Cotizar</a>
            </div>
          </div>
          {{/each }}
        </div>


        <div class="col-3 pt-5 rounded servicios-enlaces">
          <div class="rounded items-links shadow-sm">
            {{#each items}}
            <div id="{{ seo.id }}">
              <ul style="margin: 0; color: var(--base)">
                <li>
                  <a href="/indicaciones?servicio={{ seo.id }}">
                    {{ seo.title }}
                  </a>
                </li>
              </ul>
            </div>
            <hr>
            {{/each}}
          </div>
        </div>
      </div>



    </section>




    {{> footer }}

  </section>

  {{!-- semantic ui --}}
  <script>
    $('.ui.accordion')
      .accordion()
      ;
  </script>

  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  {{!-- js --}}
  <script src="../js/indicaciones.js" type="module"></script>
  <script src="../js/calcularTamanoPantalla.js"></script>
  <script src="../js/borderBottonNav.js"></script>
  <script src="../js/countDown.js"></script>
  <script src="../js/overView.js"></script>

</body>

</html>