<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/succes.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <title>¡Lo tenemos!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- Botstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />


    {{!-- SEMANTIC UI --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        {{> navbar }}
    </header>

    <div class="container-card-reserve">
        <div class="ui cards ui-card-reserva">
            <div class="card">
                <div class="content">
                    <img class="right floated mini ui image" src="../img/reserva.gif" alt="Gif mujer feliz">
                    <div class="title-header-card">
                        <div class="header">
                            <h3>
                                DATOS DE LA CITA 📅
                            </h3>
                        </div>
                        <div class="meta">
                            ¡Gracias por preferirnos!
                        </div>
                    </div>
                    <div class="description description-reserva">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Nombres: </b> {{reservaData.nombres}} <br>
                                    </td>
                                    <td>
                                        <b>Telefono: </b> {{reservaData.numeroTelefono}} <br>
                                    </td>
                                    <td>
                                        <b>Local: </b> {{reservaData.locales}} <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Servicio:</b> {{reservaData.servicio}} <br>
                                    </td>
                                    <td>
                                        <b>Fecha</b> {{reservaData.fecha}} <br>
                                    </td>
                                    <td>
                                        <b>Hora: </b> {{reservaData.hora}} <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="extra content">
                    <div class="txt-cancelarReagendar">
                        Si deseas cancelar, reagendar o tienes alguna duda por favor cumunicate con nosotros...
                    </div>
                    <div class="recomendaciones-content">
                        <b>Recomendaciones:</b> {{ reservaData.indicaciones }}
                        <b>
                            <a href="#">
                                Ver mas...</a>
                        </b>
                    </div>
                    <div class="txt-puntualidad">
                        <b>
                            Recueda: La puntualidad es virtud de sabios.
                            <i class="handshake outline icon"></i>
                        </b>
                    </div>
                    <div class="ui two buttons">
                        <div class="ui basic green button">Whatsapp
                            <i class="whatsapp icon"></i>
                        </div>
                        <div class="ui basic black button">Home
                            <i class="home icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}




    <script src="../js/succes.js"></script>
</body>

</html>