<div class="cajaMainCotizar">
    {{> selectHombreMujer }}

    <div class="boxZonasCorporal">
        <div class="nombreZonas">
            <h5>Corporal</h5>
        </div>
        {{#each corporal}}
        <div id="{{ id }}" class="{{ color }}">
            {{ nombre }}
            <span>$ {{precioIndividual}}</span>
        </div>
        {{/each}}
    </div>



    <div class="boxCotizarFacial">
        <div class="nombreZonas">
            <h5>Facial</h5>
        </div>
        {{#each facial}}
        <div id="{{ id }}" class="{{ color }}">
            {{ nombre }}
            <span>$ {{precioIndividual}}</span>
        </div>
        {{/each}}
    </div>


    <div class="boxValorTotal">
        <div class="boxBorder">
            <p>Valor total : 0</p>
            <button id="mostrarDatosRegistroCotizarHombre">Agendar Cita</button>
        </div>
    </div>


</div>