<div class="cajaMainCotizar">


    <div class="boxZonasCorporalIPL">

        {{#if _info_d_definitiva.descuentoBool}}
        <div class="data-promocion data-promocion-cera" data-serviciocera="{{ _info_d_definitiva.servicio }}"
            data-titlecera="{{ _info_d_definitiva.title }}" data-descuento="{{ _info_d_definitiva.descuento }}"
            data-bool="{{ _info_d_definitiva.descuentoBool }}">
            {{ _info_d_definitiva.title }}
        </div>
        {{/if}}

        <div class="nombreZonas">
            <h5>Corporal</h5>
        </div>

        {{#each corporal}}
        <div id="{{ id }}" class="zona-box-child-ipl">
            <div class="over-card" id="{{ id }}" data-id="{{ categoria }}" data-desc="{{ descuento }}% DE DESCUENTO"
                data-descuento={{ descuento }} data-precio={{ precioIndividual }} data-nrosesiones="{{ nroSesiones }}"
                data-nombre="{{ nombre }}">
            </div>
            {{#if descuentoBool}}
            <div class="circle-card-ipl">
                <p>
                    {{ descuento }}%
                </p>
            </div>
            {{/if}}
            <div class="card-title-ipl">
                {{ mayuscula nombre }}
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
            <div class="hr-ipl">
                <hr>
            </div>
            <div class="extra-card-ipl-box">
                <div class="extra-card-ipl">
                    PAGO AL CONTADO - {{ descuento }}% OFF
                </div>
                {{#if zonas}}
                <p>
                    {{ zonas }}
                </p>
                {{/if}}
            </div>
            <div>
            </div>
            <div class="body-card-ipl">
                <b> Nro sesiones: </b> {{ nroSesiones }}. <br>
                <b> Precio normal:</b> ${{ precioIndividual }}. <br>
                {{!-- <b> Precio por sesion: </b> {{ valorPorSesion precioIndividual nroSesiones. <br> --}}
                {{#if descuentoBool}}
                <b> Precio promo: </b> ${{ precioPromo precioIndividual descuento }} <br>
                {{/if}}
            </div>
        </div>
        {{/each}}

    </div>



    <div class="boxZonasCorporalIPL">

        <div class="nombreZonas">
            <h5>Facial</h5>
        </div>

        {{#each facial}}
        <div id="{{ id }}" class="zona-box-child-ipl">
            <div class="over-card" id="{{ id }}" data-id="{{ categoria }}" data-desc="{{ descuento }}% DE DESCUENTO"
                data-descuento={{ descuento }} data-precio={{ precioIndividual }} data-nrosesiones="{{ nroSesiones }}"
                data-nombre="{{ nombre }}">
            </div>
            {{#if descuentoBool}}
            <div class="circle-card-ipl">
                <p>
                    {{ descuento }}%
                </p>
            </div>
            {{/if}}

            <div class="card-title-ipl">
                {{ mayuscula nombre }}
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
            <div class="hr-ipl">
                <hr>
            </div>
            <div class="extra-card-ipl-box">
                <div class="extra-card-ipl">
                    PAGO AL CONTADO - {{ descuento }}% OFF
                </div>
                {{#if zonas}}
                <p>
                    {{ zonas }}
                </p>
                {{/if}}
            </div>
            <div class="body-card-ipl">
                <b> Nro sesiones: </b> {{ nroSesiones }}. <br>
                <b> Precio normal:</b> ${{ precioIndividual }}. <br>
                {{!-- <b> Precio por sesion: </b> {{ valorPorSesion precioIndividual nroSesiones . <br> --}}
                {{#if descuentoBool}}
                <b> Precio promo: </b> ${{ precioPromo precioIndividual descuento }} <br>
                {{/if}}
            </div>
        </div>
        {{/each}}

    </div>





</div>