<div class="cajaMainCotizar">
    <select class="depilacion_cera_select">
        <option id="mujerOption" value="mujer">Mujer</option>
        <option id="hombreOption" value="hombre">Hombre</option>
    </select>


    <div class="boxZonasCorporal">
        {{#if _info_d_cera.descuentoBool}}
        <div class="data-promocion data-promocion-cera" data-serviciocera="{{ _info_d_cera.servicio }}"
            data-titlecera="{{ _info_d_cera.title }}" data-descuento="{{ _info_d_cera.descuento }}"
            data-bool="{{ _info_d_cera.descuentoBool }}">
            {{ _info_d_cera.title }}
            <br>
            En su primera visita.
        </div>
        {{/if}}

        <div class="nombreZonas">
            <h5>Corporal</h5>
        </div>

        {{#each corporal}}
        <div id="{{ id }}" class="zona-box-child">
            <div class="over-card" id="{{ id }}" data-id="{{ categoria }}" data-descuento="{{ descuento }}"
                data-nombre="{{ nombre }}" data-precioindividual="{{ precioIndividual }}"
                data-preciocombo="{{ precioCombo }}"></div>
            {{ nombre }}
            <div>
                <p id="precio_{{ id }}">$ {{precioIndividual}}</p>
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
        </div>
        {{/each}}

    </div>



    <div class="boxCotizarFacial">

        <div class="nombreZonas">
            <h5>Facial</h5>
        </div>

        {{#each facial}}
        <div id="{{ id }}" class="{{ color }} zona-box-child">
            <div class="over-card" id="{{ id }}" data-id="{{ categoria }}" data-descuento="{{ descuento }}"
                data-nombre="{{ nombre }}" data-precioindividual="{{ precioIndividual }}"
                data-preciocombo="{{ precioCombo }}"></div>
            {{ nombre }}
            <div>
                <p id="precio_{{ id }}">$ {{precioIndividual}}</p>
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
        </div>
        {{/each}}

    </div>





</div>