<div class="cajaMainCotizar">

    <select class="depilacion_definitiva_select">
        <option id="mujerOptionIPL" value="mujer">Mujer</option>
        <option id="hombreOptionIPL" value="hombre">Hombre</option>
    </select>


    <div class="boxZonasCorporalIPL">
        <div class="nombreZonas">
            <h5>Corporal</h5>
        </div>

        {{#each corporal}}
        <div id="{{ id }}" class="zona-box-child-ipl">
            <div class="over-card" id="{{ id }}" data-id="{{ categoria }}" data-desc="{{ descuento }}% DE DESCUENTO"
                data-descuento={{ descuento }} data-precio={{ precioIndividual }} data-nrosesiones="{{ nroSesiones }}"
                data-nombre="{{ nombre }}">
            </div>
            <div class="circle-card-ipl">
                <p>
                    {{ descuento }}%
                </p>
            </div>
            <div class="card-title-ipl">
                {{ mayuscula nombre }}
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
            <div class="hr-ipl">
                <hr>
            </div>
            <div class="extra-card-ipl">
                PRECIO POR SESION
            </div>
            <div class="body-card-ipl">
                <b> Nro sesiones: </b> {{ nroSesiones }}. <br>
                <b> Precio normal:</b> ${{ precioIndividual }}. <br>
                <b> Precio promo: </b> ${{ precioPromo precioIndividual descuento }} <br>
            </div>
        </div>
        {{/each}}

    </div>



    <div class="boxZonasCorporalIPL">

        <div class="nombreZonas">
            <h5>Facial</h5>
        </div>
        {{#each facial}}
        <div id="{{ id }}" class="zona-box-child-ipl">
            <div class="over-card" id="{{ id }}" data-id="{{ categoria }}" data-desc="{{ descuento }}% DE DESCUENTO"
                data-descuento={{ descuento }} data-precio={{ precioIndividual }} data-nrosesiones="{{ nroSesiones }}"
                data-nombre="{{ nombre }}">
            </div>
            <div class="circle-card-ipl">
                <p>
                    {{ descuento }}%
                </p>
            </div>
            <div class="card-title-ipl">
                {{ mayuscula nombre }}
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
            <div class="hr-ipl">
                <hr>
            </div>
            <div class="extra-card-ipl">
                PRECIO POR SESION
            </div>
            <div class="body-card-ipl">
                <b> Nro sesiones: </b> {{ nroSesiones }}. <br>
                <b> Precio normal:</b> ${{ precioIndividual }}. <br>
                <b> Precio promo: </b> ${{ precioPromo precioIndividual descuento }} <br>
            </div>
        </div>
        {{/each}}

    </div>





</div>