<div class="cajaMainCotizar">

    {{> selectHombreMujer }}


    <div class="boxZonasCorporal">
        <div class="nombreZonas">
            <h5>Corporal</h5>
        </div>

        {{#each corporal}}
        <div id="{{ id }}" class="{{ color }} zona-box-child">
            {{ nombre }}
            <div>
                <p id="precio_{{ id }}">$ {{precioIndividual}}</p>
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
        </div>
        {{/each}}

    </div>



    <div class="boxCotizarFacial">

        <div class="nombreZonas">
            <h5>Facial</h5>
        </div>

        {{#each facial}}
        <div id="{{ id }}" class="{{ color }} zona-box-child">
            {{ nombre }}
            <div>
                <p id="precio_{{ id }}">$ {{precioIndividual}}</p>
                <p>
                    <i class="check_{{ id }} check circle icon checkSeleccionadoBlack"></i>
                </p>
            </div>
        </div>
        {{/each}}

    </div>





</div>