<div class="cajaMainCotizar">

    {{> selectHombreMujer }}


    <div class="boxZonasCorporal">
        <div class="nombreZonas">
            <h5>Corporal</h5>
        </div>

        {{#each corporal}}
        <div id="{{ id }}" class="{{ color }}">
            {{ nombre }}
            <span id="precio_{{ id }}">$ {{precioIndividual}}</span>
        </div>
        {{/each}}

    </div>



    <div class=" boxCotizarFacial">

        <div class="nombreZonas">
            <h5>Facial</h5>
        </div>

        {{#each facial}}
        <div id="{{ id }}" class="{{ color }}">
            {{ nombre }}
            <span id="precio_{{ id }}">$ {{precioIndividual}}</span>
        </div>
        {{/each}}

    </div>


    <div class=" boxValorTotal">
        <div class="boxBorder">
            <p id="valorTotalZonas">Valor total : $ 0</p>
            <button id="mostrarDatosRegistroCotizarMujer">Agendar Cita</button>
        </div>
    </div>


</div>