<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Depilcenter | Admin</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/admin.css">

    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    {{> navbar }}

    {{#if registroError}}
      <div class="ajustarAlert">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>{{registroError}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
      </div>
    {{/if}}

    {{#if registroOk}}
      <div class="ajustarAlert">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{registroOk}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
      </div>
    {{/if}}
    
    <header class="">
        <section  class="__regitrarClienteForm">
            <form   method="POST">
                <div>
                    <h3>Registrar Cliente</h3>
                </div>
                <div>
                    <label for="nombres">Nombres</label>
                    <input type="text" name="nombres" placeholder="Ej. Gloria Agualongo" id="nombres" autocomplete="off">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email"  id="email" name="email" placeholder="Ej. gloriamora3@gmail.com" autocomplete="off">
                </div>
                <div>
                    <label for="numeroTelefono">Numero Telefono</label>
                    <input type="number"  id="numeroTelefono" name="phone" autocomplete="off" placeholder="Ej. 0989131502">
                </div>
                <div>
                    <label for="fechaCumpleanios">Fecha Cumpleaños</label>
                    <input type="text" id="fechaCumpleanios" name="fechaCumpleanios" autocomplete="off" placeholder="Ej. 2021-04-16" >
                </div>
                <div>
                    <button type="submit" >Registrar</button>
                </div>
            </form>
        </section>
    </header>

    <section align="center"  >
        <h3>Clientes registrados</h3>
    </section>

    <section class="__clientesReservadosContainer">

        {{#each datos}}
        <div>
             <div>
                 <h3>{{ nombres }}</h3>
             </div>
             <div>
                 <p>Email: {{ email }}</p>
             </div>
             <div>
                 <p>Telef: {{ numeroTelefono }}</p>
             </div>
             <div>
                 <p>Cumple: {{ fechaCumpleanios }}</p>
             </div>
             <div>
                 <p>Fecha Registro: {{ fechaRegistro }}</p>
             </div>
         </div>

        {{/each}}

        
    </section>
    
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"
      ></script>
</body>
</html>